h1{
    font-weight: inherit;
    background-color: orange;
    display: inline;
    text-decoration:red;
}

    section {
    display: block;
}
.banner img {
    height: 400px;
}
.banner img {
    min-width: 100%;
    height: 400px;
}
section img {
    max-width: 100%;
}
h2{
    font-size: 30px;
    text-align: center;
}
a img{
    width: 5%;
}
div{
    background-color: purple;
}
main{
    background-color: burlywood;
}