header h1 {
    display: inline-block;
    padding: 6px 12px;
    margin-left: 10px;
    
}
body, ul, li, h1, h2, a {
    margin: 0;
    padding: 0;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color:paleturquoise
    

    
}
header{
    position: fixed;
    background-color:darkgoldenrod;
    text-align: center;
    
}
section {
    display: block;
}
.banner img {
    height: 400px;
}
.banner img {
    min-width: 100%;
    height: 400px;
}
section img {
    max-width: 100%;
}
nav{
    display: block;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    background-color: darkkhaki;
}
nav ul{
    max-width: 1200px;
    margin: 0px auto;
    white-space: nowrap;
}
body, ul, li, h1, h2, a{
    padding 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
h3 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color:sandybrown;
}
.hi {
    text-shadow: green;
    background-color:slateblue;
}
p{
    background-color:snow;
}
main {
    width: 1200px;
    max-width: 100%;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
main {
    display: block;
}
.imgs {
    margin: 100px 0;
    white-space: nowrap;
}

.imgs li img {
    max-width: 100%;
    border-radius: 70px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.imgs li {
    width: 70%;
    display: block;
    margin: 25px auto;

}
.imgs li {
    display: inline-block;
    width: 20%;
    margin: 50px 10%;

}
.imgs li {
    display: inline-block;
    width: 25%;
    margin: 50px 10%;

}
body, ul, li, h1, h2, a {
    margin: 0;
    padding: 0;
}
hr{
    background-color: black;
}
h4{
    background-color: dimgrey;
}
br{
    background-color: dimgrey;
}
a img{
    width: 5%;
}
div{
    background-color:purple;
}